In [42]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
#Caricare il dataset scaricato al link https://www.kaggle.com/datasets/katerynameleshenko/cyber-security-indexes
df=pd.read_csv('Cyber_security.csv') #dati relativi a NCSI aggiornati a gennaio 2023

In [44]:
df.head()

       Country        Region    CEI    GCI   NCSI    DDL
0  Afghanistan  Asia-Pasific  1.000   5.20  11.69  19.50
1      Albania        Europe  0.566  64.32  62.34  48.74
2      Algeria        Africa  0.721  33.95  33.77  42.81
3      Andorra        Europe    NaN  26.38    NaN    NaN
4       Angola        Africa    NaN  12.99   9.09  22.69

In [45]:
df_Europe = df[df['Region']=='Europe'].reset_index().drop(columns=['index'])

In [46]:
df_Europe

                   Country  Region    CEI    GCI   NCSI    DDL
0                  Albania  Europe  0.566  64.32  62.34  48.74
1                  Andorra  Europe    NaN  26.38    NaN    NaN
2                  Armenia  Europe  0.655  50.47  35.06  55.06
3                  Austria  Europe  0.162  93.89  68.83  75.76
4               Azerbaijan  Europe  0.531  89.31  59.74  54.78
5                  Belarus  Europe  0.614  50.57  53.25  62.33
6                  Belgium  Europe  0.190  96.25  94.81  74.07
7   Bosnia and Herzegovina  Europe  0.583  29.44  28.57  49.31
8                 Bulgaria  Europe  0.483  67.38  74.03  62.06
9                  Croatia  Europe  0.255  92.53  83.12  81.51
10                  Cyprus  Europe  0.334  88.82  66.23  68.83
11          Czech Republic  Europe  0.334  74.37  92.21  69.21
12                 Denmark  Europe  0.117  92.60  84.42  82.68
13                 Estonia  Europe  0.134  99.48  93.51  75.59
14                 Finland  Europe  0.110  95.78  85.71  78.35
15                  France  Europe  0.228  97.60  84.42  77.29
16                 Georgia  Europe  0.383  81.06  64.94  53.50
17                 Germany  Europe  0.241  97.41  90.91  80.01
18                  Greece  Europe  0.400  93.98  96.10  64.02
19                 Hungary  Europe  0.286  91.28  67.53  64.25
20                 Iceland  Europe  0.348  79.81  55.84  78.64
21                 Ireland  Europe  0.255  85.86  75.32  75.18
22                   Italy  Europe  0.269  96.13  79.22  67.26
23                  Latvia  Europe  0.352  97.28  75.32  66.23
24           Liechtenstein  Europe    NaN  35.15  31.17    NaN
25               Lithuania  Europe  0.297  97.93  93.51  67.34
26              Luxembourg  Europe  0.124  97.41  66.23  78.40
27                   Malta  Europe    NaN  83.65  50.65  71.74
28                 Moldova  Europe  0.545  75.78  50.65  56.79
29                  Monaco  Europe    NaN  72.57  40.26    NaN
30              Montenegro  Europe    NaN  53.23  35.06  57.79
31             Netherlands  Europe  0.262  97.05  83.12  81.86
32         North Macedonia  Europe  0.352  89.92  55.84  55.36
33                  Norway  Europe  0.134  96.89  67.53  80.19
34                  Poland  Europe  0.286  93.86  87.01  65.03
35                Portugal  Europe  0.303  97.32  89.61  68.46
36                 Romania  Europe  0.462  76.29  89.61  59.84
37                  Russia  Europe  0.528  98.06  71.43  65.12
38              San Marino  Europe    NaN  13.83  23.08    NaN
39                  Serbia  Europe  0.434  89.80  80.52  59.81
40                Slovakia  Europe  0.262  92.36  83.12  65.44
41                Slovenia  Europe  0.283  74.93  59.74  69.74
42                   Spain  Europe  0.210  98.52  88.31  72.21
43                  Sweden  Europe  0.210  94.55  84.42  81.51
44             Switzerland  Europe  0.172  86.97  76.62  82.93
45                 Ukraine  Europe  0.569  65.93  75.32  55.96
46          United Kingdom  Europe  0.207  99.54  89.61  79.96
47            Vatican City  Europe    NaN    NaN   2.60    NaN

In [47]:
df_Europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  48 non-null     object
 1   Region   48 non-null     object
 2   CEI      41 non-null     float64
 3   GCI      47 non-null     float64
 4   NCSI     47 non-null     float64
 5   DDL      43 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.4+ KB

In [48]:
print(df_Europe.loc[df_Europe['NCSI'].isna()].index)

Index([1], dtype='int64')

In [49]:
df_Europe.loc[1] #Unico valore nullo di NCSI è per Andorra

Country    Andorra
Region      Europe
CEI            NaN
GCI          26.38
NCSI           NaN
DDL            NaN
Name: 1, dtype: object

In [50]:
df_Europe[df_Europe['Country'] == 'Italy']

   Country  Region    CEI    GCI   NCSI    DDL
22   Italy  Europe  0.269  96.13  79.22  67.26

In [51]:
#L'italia nel 2023 ha un punteggio di NCSI index del 79,22. Ciò significa che risponde bene alle minacce cyber però con dei margini di miglioramento

In [52]:
df_Europe[['Country', 'NCSI']].sort_values('NCSI', ascending=False).reset_index().drop(columns=['index'])

                   Country   NCSI
0                   Greece  96.10
1                  Belgium  94.81
2                Lithuania  93.51
3                  Estonia  93.51
4           Czech Republic  92.21
5                  Germany  90.91
6                 Portugal  89.61
7           United Kingdom  89.61
8                  Romania  89.61
9                    Spain  88.31
10                  Poland  87.01
11                 Finland  85.71
12                  France  84.42
13                  Sweden  84.42
14                 Denmark  84.42
15                 Croatia  83.12
16                Slovakia  83.12
17             Netherlands  83.12
18                  Serbia  80.52
19                   Italy  79.22
20             Switzerland  76.62
21                 Ireland  75.32
22                  Latvia  75.32
23                 Ukraine  75.32
24                Bulgaria  74.03
25                  Russia  71.43
26                 Austria  68.83
27                  Norway  67.53
28                 Hungary  67.53
29              Luxembourg  66.23
30                  Cyprus  66.23
31                 Georgia  64.94
32                 Albania  62.34
33              Azerbaijan  59.74
34                Slovenia  59.74
35                 Iceland  55.84
36         North Macedonia  55.84
37                 Belarus  53.25
38                 Moldova  50.65
39                   Malta  50.65
40                  Monaco  40.26
41              Montenegro  35.06
42                 Armenia  35.06
43           Liechtenstein  31.17
44  Bosnia and Herzegovina  28.57
45              San Marino  23.08
46            Vatican City   2.60
47                 Andorra    NaN

In [12]:
df_Europe['NCSI'].mean()

69.07340425531915

In [ ]:
#primo posto: Grecia
#secondo posto:belgio
#terzo posto: lituania

#l'italia si colloca al ventesimo posto in Europa, più o meno a metà (dati aggiornati a gennaio 2023)

In [ ]:
#Mentre ad ottobre 2024 il valore dell'italia è arrivato al 88 collocandosi al quarto posto

In [38]:
import requests
from bs4 import BeautifulSoup

In [39]:
url ='https://ncsi.ega.ee/ncsi-index/'
page = requests.get(url)

In [40]:
page.status_code

200

In [41]:
soup = BeautifulSoup(page.content, "html.parser")

In [12]:
lista=['al', 'ad', 'am', 'at', 'az', 'by', 'be', 'ba', 'bg', 'hr', 'cy', 'cz', 'dk', 'ee', 'fi', 'fr', 'ge', 'de', 'gr', 'hu', 'is', 'ie', 'it','lv',
       'li', 'lt', 'lu', 'mk', 'mt', 'md', 'mc', 'me', 'nl', 'no', 'pl', 'pt', 'ro', 'ru', 'sm', 'rs', 'sk', 'si', 'es', 'se', 'ch', 'ua', 'gb', 'va']

In [13]:
lista_1=['al','at','az','be','ba','cy','cz','ee','ge','ie', 'it', 'lv','lt','me', 'md','nl', 'mk','pl','pt','rs','sk','ua','gb']

In [14]:
len(lista)

48

In [15]:
countries=[]
for i in lista_1:
 country=soup.find_all('a', href='/country/'+i+'/')[1].text
 countries.append(country)

In [16]:
countries

['Albania',
 'Austria',
 'Azerbaijan',
 'Belgium',
 'Bosnia and Herzegovina',
 'Cyprus',
 'Czech Republic',
 'Estonia',
 'Georgia',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Montenegro',
 'Moldova (Republic of)',
 'Netherlands',
 'North Macedonia',
 'Poland',
 'Portugal',
 'Serbia',
 'Slovakia',
 'Ukraine',
 'United Kingdom']

In [17]:
len(countries)

23

In [18]:
df_NCSI_2023=pd.DataFrame({'Country': ['Belgio', 'Lituania', 'Estonia', 'Repubblica Ceca', 'Germania', 'Italia', 'UE'], 
                           'NCSI': [98.81, 93.51, 93.51, 90.91, 90.91, 79.22, 81.6]
    
}
)

In [19]:
df_NCSI_2023   #italia: posto 23

           Country   NCSI
0           Belgio  98.81
1         Lituania  93.51
2          Estonia  93.51
3  Repubblica Ceca  90.91
4         Germania  90.91
5           Italia  79.22
6               UE  81.60

In [20]:
df_NCSI_2024=pd.DataFrame({'Country': ['Repubblica Ceca', 'Polonia', 'Belgio', 'Italia', 'Estonia', 'UE'], 
                           'NCSI': [98.33, 92.50, 92.50, 88.33, 88.33, 85.37] 
    
}
    
)
#ci sono 13 paesi

In [21]:
df_NCSI_2024

           Country   NCSI
0  Repubblica Ceca  98.33
1          Polonia  92.50
2           Belgio  92.50
3           Italia  88.33
4          Estonia  88.33
5               UE  85.37

In [ ]:
#Abbiamo provato a utilizzare la tecnica del web scraping per estrarre dati dalla pagina https://ncsi.ega.ee/ncsi-index/?order=-isd ma per la realizzazione della presentazione in Tableau li abbiamo estrapolati "a mano"